@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.container {
  align-self: stretch;
  margin: 0 10px;

  &::-webkit-scrollbar {
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$dark;

    &:hover {
      background-color: variables.$light;
    }
  }
}

.outlayEntry,
.title,
.level {
  color: variables.$light;
  border-color: variables.$dark;
  text-align: left;
  white-space: nowrap;
  padding: 10px 12px;
}

.outlayEntry {
  min-width: 200px;
}

.title {
  width: 100%;
}
