@use './variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  background-color: variables.$dark;
  color: white;

  &::-webkit-scrollbar {
    width: 1.0714rem;
  }

  &::-webkit-scrollbar-track {
    background-color: variables.$darkest;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$dark;

    &:hover {
      background-color: variables.$light;
    }
  }
}
