@use '../styles/variables.scss';

.root {
  display: flex;
  flex: 1;
  gap: 0.0714rem;
  background: variables.$dark;

  @media (width <= (variables.$md)) {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 16.7143rem;
}

.main {
  flex: 1;
  overflow-x: hidden;
}
