@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.header {
  @extend %container;

  background-color: variables.$darker;
  border-bottom: 0.0714rem solid variables.$dark;
  display: flex;
  align-items: center;
  gap: 1.9286rem;
  flex-wrap: wrap;
  min-height: 3.1429rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.4286rem;
}

.buttonIcon {
  @extend %reset;

  height: 1.7143rem;
  cursor: pointer;
}

.icon {
  width: 1.7143rem;
  height: auto;
  color: variables.$light;

  &:hover {
    color: white;
  }
}

.navPanel {
  @extend %reset;

  list-style-type: none;
  display: flex;
  gap: 1.4286rem;
  flex-wrap: wrap;
}

.navItemButton {
  @extend %reset;

  @include mixins.default-font();

  padding: 0.9286rem 0.2857rem;
  cursor: pointer;
  color: variables.$light;
  display: flex;
  justify-content: center;

  &:hover {
    color: white;
  }
}

.navItemButton_active {
  position: relative;
  color: white;

  &::before {
    content: '';
    position: absolute;
    background-color: white;
    height: 0.1429rem;
    width: 100%;
    bottom: 0;
  }
}
